Source: udr
Section: unknown
Priority: optional
Maintainer: Andras Korn <korn-deb@elan.rulez.org>
Build-Depends: cdbs, debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/udr.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/udr.git;a=summary

Package: udr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
